.wishlist-page{
    min-height:100vh;
    padding:120px 8% 80px;
    background:var(--background);
}

.wishlist-header{
    text-align:center;
    margin-bottom:50px;
}

.wishlist-header h1{
    font-family:var(--heading-font);
    color:var(--heading);
    font-size:3.5rem;
    margin-bottom:10px;
}

.wishlist-header p{
    color:var(--text);
    font-size: 20px;
}

.wishlist-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:30px;
}

.wishlist-card{
    background:var(--white);
    border:1px solid var(--border);
    border-radius:var(--radius);
    overflow:hidden;
    transition:var(--transition);
}

.wishlist-card:hover{
    transform:translateY(-6px);
    box-shadow:0 15px 30px rgba(0,0,0,.08);
}

.wishlist-card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.wishlist-content{
    padding:20px;
}

.wishlist-content h3{
    font-family:var(--heading-font);
    color:var(--heading);
    margin-bottom:8px;
}

.wishlist-content p{
    color:var(--text);
    margin-bottom:12px;
}

.wishlist-content span{
    color:var(--primary);
    font-size:1.2rem;
    font-weight:700;
}

.wishlist-actions{
    display:flex;
    justify-content:space-between;
    margin-top:20px;
}

.cart-btn{
    flex:1;

    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;

    background:var(--primary);

    color:var(--white);

    text-decoration:none;

    border:none;

    border-radius:50px;

    padding:12px 20px;

    font-weight:600;

    transition:var(--transition);
}

.cart-btn:hover{

    background:var(--primary-hover);

    color:var(--white);

}
.delete-btn{

    width:48px;
    height:48px;

    margin-left:12px;

    border:none;

    border-radius:50%;

    background:var(--primary-light);

    color:var(--primary);

    cursor:pointer;

    transition:var(--transition);
}

.delete-btn:hover{

    background:var(--primary);

    color:var(--white);
}

.empty-wishlist{

    max-width:650px;

    margin:auto;

    text-align:center;

    background:var(--white);

    border:1px solid var(--border);

    border-radius:var(--radius);

    padding:70px 40px;
}

.empty-icon{

    font-size:4rem;

    color:var(--primary);

    margin-bottom:20px;
}

.empty-wishlist h2{

    font-family:var(--heading-font);

    color:var(--heading);

    margin-bottom:15px;
}

.empty-wishlist p{

    color:var(--text);

    margin-bottom:30px;
}

.browse-btn{

    display:inline-block;

    background:var(--primary);

    color:var(--white);

    text-decoration:none;

    padding:14px 30px;

    border-radius:50px;

    transition:var(--transition);
}

.browse-btn:hover{

    background:var(--primary-hover);
}