@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;700&family=Playfair+Display:wght@400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root{

  /* Colors */

  --primary:#FF6B35;
  --secondary:#E74C3C;

  --bg:#FFF8F1;

  --text:#222222;

  /* Fonts */

  --heading-font:"Playfair Display", serif;
  --body-font:"Poppins", sans-serif;

  /* Others */

  --radius:24px;
  --transition:.3s ease;

}
body{
    font-family: var(--body-font);
    background: var(--bg);
    color: var(--text);
}


a {
    text-decoration: none;
    color: inherit;
}