.cart-page{
    background:var(--bg);    min-height:100vh;
    padding:120px 0 60px;
}

.cart-container{
    max-width:1280px;
    margin:auto;
    padding:0 20px;
}

.cart-title{
    font-size:64px;
    font-weight:700;

line-height:1.1;

margin-bottom:50px;
    color:#1f355e;
    font-family: "Playfair Display",serif;
   
}

.cart-layout{
    display:grid;
    grid-template-columns: 2fr 1fr;
    gap:40px;
    align-items: start;
}

.cart-left{
    display:flex;
    flex-direction: column;
    gap:30px;
}

.cart-right{
    position:sticky;
    top:120px;
}

/*cart item css*/

.cart-item{

display:flex;

align-items:center;

justify-content:space-between;

background:white;

padding:20px 24px;
margin-bottom: 25px;
border-radius:22px;

box-shadow:0 10px 35px rgba(0,0,0,.08);

transition:.3s;
}

.cart-item:hover{

transform:translateY(-4px);
}

.cart-item-image{

width:100px;

height:100px;

border-radius:18px;

object-fit:cover;
}

.cart-item-info{

flex:1;

margin-left:25px;
}
.cart-item-info h2{
    font-size: 30px;
    font-family: 'Playfair display', serif;
    color: var(--heading) !important;
    font-weight: 500;
   margin:0 0 15px;
}
.cart-item-info h3{

    font-size:22px;

    font-family:"Poppins",sans-serif;

    font-weight:700;

    color:var(--heading);

    margin-bottom:8px;

    line-height:1.2;

}
.cart-item-info p{

    font-size:15px;

    color:#777;

    margin:8px 0;

}

.price{

    font-size:28px;

    color:var(--primary);

    font-weight:700;

}
.cart-item-actions{

display:flex;

align-items:center;

gap:12px;

background:#FFF5EF;

padding:8px 14px;

border-radius:999px;
}

.cart-item-actions button{

width:32px;

height:32px;

border:none;

background:white;

border-radius:50%;

cursor:pointer;

font-size:18px;
}

.cart-summary{

    background:white;

    border-radius:28px;

    padding:30px;

    box-shadow:0 15px 45px rgba(0,0,0,.08);

    position:sticky;

    top:120px;

    height:fit-content;

}
.cart-summary h2{

    font-size:40px;

    color:var(--heading);

    margin-bottom:28px;

    line-height:1.1;

}
.summary-row{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:18px;

    font-size:18px;

    color:#555;

}
.discount{

    color:#16A34A;

    font-weight:600;

}
.cart-summary hr{

    border:none;

    border-top:1px solid #ECECEC;

    margin:28px 0;

}
.summary-total{

    display:flex;

    justify-content:space-between;

    align-items:center;

    font-size:28px;

    font-weight:700;

    color:var(--heading);

    margin-bottom:30px;

}
.checkout-btn{

    width:100%;

    border:none;

    padding:18px;

    border-radius:50px;

    background:var(--primary);

    color:white;

    font-size:18px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;

}
.checkout-btn:hover{

    background:var(--heading);

    transform:translateY(-3px);

}
.secure-payment{

    text-align:center;

    color:#888;

    font-size:14px;

    margin:18px 0 30px;

}
.summary-info{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:18px;

}
.info-box{

    background:#FFF7F2;

    border-radius:18px;

    padding:18px;

    text-align:center;

}
.info-box span{

    font-size:22px;

}
.info-box h4{

    margin:10px 0 6px;

    color:var(--heading);

}
.info-box p{

    color:#777;

}
.free-delivery{

    color:#16A34A;

    font-weight:700;

}

/*delivery progress*/
.delivery-card{

    display:flex;

    align-items:center;

    gap:30px;

    padding:40px;

     background:linear-gradient(
        135deg,
        #FFF4EE,
        #FFE6DA
    );

    border:1px solid #FFD4C3;
    border-radius:28px;

    box-shadow:0 15px 35px rgba(0,0,0,.06);

}
.delivery-card img{

    width:130px;

}
.delivery-content h3{

    color:var(--primary);

    font-size:30px;

    margin-bottom:10px;

}
.delivery-content p{

    color:#666;

    line-height:1.7;

    margin-bottom:20px;

}
.progress-bar{



    width:100%;

    max-width:420px;



    height:10px;

    background:#F1DFD6;

    border-radius:20px;

    overflow:hidden;

}
.progress-fill{

    width:70%;

    height:100%;

    background:linear-gradient(
        90deg,
        var(--primary),
        #FF7A5A
    );

}
.remove-btn{

    position:absolute;

    top:22px;

    right:22px;

    border:none;

    background:none;

    font-size:22px;

    color:#999;

    cursor:pointer;

    transition:.3s;

}

.remove-btn:hover{

    color:var(--primary);

}
.cart-card{
    position: relative;
}
.quantity-box button:hover{

    background:var(--primary);

    color:white;

}

.cart-card{

    transition:.3s;

}

.cart-card:hover{

    transform:translateY(-5px);

    box-shadow:0 18px 40px rgba(0,0,0,.08);

}
.cart-layout{

    display:grid;

    grid-template-columns:2fr 1fr;

    gap:45px;

    align-items:start;

}
/*coupon section*/
.coupon-card{

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 25px;

    margin-top:25px;

    background:#FFF5EF;

    border:2px dashed #F4CDBF;

    border-radius:22px;
}

.coupon-left{

    display:flex;
    align-items:center;
    gap:18px;
}

.coupon-icon{

    width:46px;
    height:46px;

    border-radius:50%;

    background:#FFE5D9;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:22px;
}

.coupon-card h4{

    color:var(--heading);
    margin-bottom:4px;
}

.coupon-card p{

    color:#777;
    font-size:15px;
}

.coupon-card button{

    border:none;

    background:#E24A42;

    color:white;

    padding:12px 28px;

    border-radius:30px;

    cursor:pointer;

    font-weight:600;
}

.cart-summary{

    position:sticky;
    top:110px;
}

.cart-item:hover{

    transform:translateY(-4px);

    box-shadow:0 20px 45px rgba(0,0,0,.12);

}
.checkout-btn:hover{

    transform:translateY(-2px);

    background:#C93C35;
}
.coupon-card button:hover{

    transform:scale(1.05);
}
.recommend-grid{
    display:flex;
    flex-direction:column;
    gap:28px;
}
/* ============================
   SMALL RECOMMENDED CARDS
============================ */

.small-card-link{
    text-decoration:none;
}

.small-card{
    background:#fff;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 10px 30px rgba(0,0,0,.08);

    transition:.3s;
}

.small-card:hover{
    transform:translateY(-5px);
}

.small-card img{
    width:100%;
    height:160px;
    object-fit:cover;
    display:block;
}

.small-card-body{
    padding:18px;
}

.small-category{
    display:inline-block;

    background:#FFF3EC;
    color:var(--primary);

    padding:6px 14px;

    border-radius:999px;

    font-size:13px;

    margin-bottom:12px;
}

.small-card-body h3{
    font-size:24px;
    color:#1F355E;
    margin:10px 0;
}

.small-card-body p{
    color:#666;
    margin-bottom:16px;
}

.small-info{
    display:flex;
    justify-content:space-between;
    margin-bottom:16px;
}

.small-btn{
    width:100%;
    padding:12px;

    border:none;
    border-radius:12px;

    background:var(--primary);
    color:white;

    cursor:pointer;
    font-weight:600;
}

/*==============================
        EMPTY CART
==============================*/

.empty-cart{
    min-height:100vh;
    padding:120px 8% 80px;

    display:flex;
    justify-content:center;
    align-items:center;

    background:
    radial-gradient(circle at top right,
    rgba(249,115,22,.08),
    transparent 35%),

    radial-gradient(circle at bottom left,
    rgba(255,190,130,.08),
    transparent 35%),

    linear-gradient(
        180deg,
        #FFF8F3,
        #FFFDFB
    );
}

/*==============================
        CARD
==============================*/

.empty-cart-card{

    width:100%;
    max-width:1250px;

    display:flex;
    align-items:center;
    justify-content:space-between;

    gap:70px;

    background:white;

    border-radius:36px;

    padding:70px;

    box-shadow:
        0 25px 70px rgba(0,0,0,.08);

    overflow:hidden;

    position:relative;
}

/*==============================
        LEFT
==============================*/

.empty-cart-left{

    flex:1;

    display:flex;
    justify-content:center;
    align-items:center;

    position:relative;
}

.hero-blob{

    position:absolute;

    width:420px;
    height:420px;

    border-radius:50%;

    background:
    radial-gradient(
        circle,
        #FFE5CF,
        transparent 72%
    );

    z-index:0;
}

.hero-food-image{

    width:100%;
    max-width:560px;

    position:relative;

    z-index:2;

    animation:floatFood 5s ease-in-out infinite;

    transition:.4s;
}

.hero-food-image:hover{

    transform:scale(1.03);
}

/*==============================
        RIGHT
==============================*/

.empty-cart-right{

    flex:1;

    display:flex;
    flex-direction:column;
    align-items:flex-start;
}

.cart-badge{

    display:flex;
    align-items:center;

    gap:10px;

    padding:12px 24px;

    border-radius:999px;

    background:#FFF2E8;

    color:#F97316;

    font-weight:600;

    margin-bottom:28px;
}

.empty-cart-right h1{

    font-family:"Playfair Display",serif;

    font-size:60px;

    line-height:1.1;

    color:#1F2937;

    margin-bottom:24px;
}

.empty-cart-right p{

    font-size:20px;

    line-height:1.8;

    color:#6B7280;

    margin-bottom:40px;

    max-width:520px;
}

/*==============================
        BUTTONS
==============================*/

.cart-buttons{

    display:flex;

    gap:18px;

    flex-wrap:wrap;
}


.explore-btn{

    display:flex;
    align-items:center;
    justify-content:center;

    gap:12px;

    padding:16px 34px;

    border-radius:50px;

    text-decoration:none;

    background:var(--primary);

    color:var(--white);

    font-weight:600;

    border:2px solid var(--primary);

    transition:all .3s ease;

    box-shadow:0 10px 25px rgba(211,84,34,.18);
}


.free-delivery del{
    color:#999;
    margin-right:8px;
    font-weight:400;
}

.free-delivery{
    color:#16A34A;
    font-weight:700;
}
.orders-btn{

    display:flex;
    align-items:center;
    justify-content:center;

    padding:16px 34px;

    border-radius:50px;

    text-decoration:none;

    background:var(--white);

    color:var(--primary);

    font-weight:600;

    border:2px solid rgba(211,84,34,.18);

    transition:all .3s ease;
}

.orders-btn:hover{

    background:#FFF5EF;

    border-color:var(--primary);

    color:var(--primary-dark);

    transform:translateY(-3px);
}
.explore-btn,
.explore-btn:visited{
    color: var(--white);
}

.explore-btn:hover,
.explore-btn:focus{
    color: var(--white) !important;
}

.explore-btn svg{
    color: var(--white);
}


/*==============================
        ANIMATION
==============================*/

@keyframes floatFood{

    0%,100%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-12px);
    }

}

/*==============================
        RESPONSIVE
==============================*/

@media(max-width:992px){

.empty-cart-card{

    flex-direction:column;

    text-align:center;

    padding:45px;

    gap:40px;
}

.empty-cart-right{

    align-items:center;
}

.empty-cart-right p{

    max-width:100%;
}

.cart-buttons{

    justify-content:center;
}

.hero-food-image{

    max-width:420px;
}

.hero-blob{

    width:300px;
    height:300px;
}

.empty-cart-right h1{

    font-size:40px;
}

}

@media(max-width:576px){

.empty-cart{

    padding:100px 20px 50px;
}

.empty-cart-card{

    padding:30px 25px;
}

.hero-food-image{

    max-width:300px;
}

.empty-cart-right h1{

    font-size:40px;
}

.empty-cart-right p{

    font-size:17px;
}

.cart-buttons{

    flex-direction:column;
    width:100%;
}

.explore-btn,
.orders-btn{

    width:100%;
    justify-content:center;
}

}










 


.apply-btn{
    background:#ff6b35;
    color:white;
    border:none;
    padding:10px 22px;
    border-radius:10px;
    cursor:pointer;
    transition:.3s;
}

.apply-btn:hover{
    background:#e85a2c;
}

.apply-btn:disabled{
    background:#2ecc71;
    cursor:not-allowed;
}
.coupon-success{
    margin-top:12px;
    color:#2ecc71;
    font-weight:600;
}
.orders-btn{

    padding:17px 30px;

    border-radius:999px;

    border:1px solid #E5E7EB;

    background:white;

    color:#374151;

    text-decoration:none;

    font-weight:600;

    transition:.3s;
}

.orders-btn:hover{

    border-color:#F97316;

    color:#F97316;
}
.trending-heading{

    color:#999;

    font-size:14px;

    display:block;

    margin-bottom:20px;
}

.trending-tags{

    display:flex;

    justify-content:center;

    gap:18px;

    flex-wrap:wrap;
}
.tag{

    padding:14px 24px;

    background:white;

    border-radius:40px;

    border:1px solid rgba(0,0,0,.05);

    box-shadow:
    0 12px 30px rgba(0,0,0,.05);

    transition:.3s;
}

.tag:hover{

    transform:translateY(-4px);

    border-color:#F97316;
}

.tag svg{

    color:#d35422;
}
@keyframes floatCart{

0%{
transform:translateY(0);
}

50%{
transform:translateY(-10px);
}

100%{
transform:translateY(0);
}

}
.explore-btn,
.explore-btn *,
.explore-btn:hover,
.explore-btn:hover *,
.explore-btn:focus,
.explore-btn:focus *{
    color:#fff !important;
    opacity:1 !important;
    -webkit-text-fill-color:#fff !important;
}